<h1>Create a new feed</h1>
<form action="/feed" method="post">
  <dl>
    <dd><label>Title</label></dd>
    <dt><input type="text" name="feed[title]" tabindex="1" /></dt>
    <dd><label>URL</label></dd>
    <dt><input type="text" name="feed[url]" tabindex="2" /></dt>
    <dt><input type="submit" value="Create feed" tabindex="3" /></dt>
  </dl>
</form>