<h1>Create a new post</h1>
<form action="/post" method="post">
  <dl>
    <dd><label>Title</label></dd>
    <dt><input type="text" name="post[title]" tabindex="1" /></dt>
    <dd><label>Body</label></dd>
    <dt><textarea name="post[body]" tabindex="2" ></textarea></dt>
    <dt><input type="submit" value="Create post" tabindex="3" /></dt>
  </dl>
</form>